html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://media.istockphoto.com/id/1377841262/photo/the-beautiful-scenery-of-a-tent-in-a-pine-tree-forest-at-pang-oung-mae-hong-son-province.jpg?s=612x612&w=0&k=20&c=1JvDx-16zTIeytdcC-Fa27nVJ_8SveP-omNKKlUJ-lQ=);
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s;
}

.nav-link:hover {
    border-bottom: 2px solid rgba(255,255,255,0.8);
    color: rgba(255,255,255,0.8);
}

.nav-link.active {
    color: white;
    border-bottom: 2px solid white;
}

.btn-secondary, .btn-secondary:hover {
    color: #333;
    text-shadow: none;
}
